[Unit]
Description=Arctis 7+ ChatMix
BindsTo=dev-arctis7.device
After=dev-arctis7.device

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/.local/bin/Arctis_7_Plus_ChatMix.py
Restart=on-failure
Environment="XDG_RUNTIME_DIR=/run/user/%U"

[Install]
WantedBy=dev-arctis7.device
